@use "Constants" as constants;

.twoRows {
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.lost {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.fourHundred {
  font-size: 6rem;
  font-weight: 700;
}
.backHome {
  font-size: 1.8rem;
}
.buttonHome {
  width: min-content;
  padding: 0;
  margin: 0;
  // align-self: flex-end;
  display: block;
  background-color: constants.$primaryColor;
  border: 1px solid constants.$primaryColor;
  text-decoration: none;

  color: constants.$white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border: 1px solid constants.$accentColor;

    background-color: constants.$accentColor;
    color: constants.$white;
  }

  a {
    color: constants.$white;
    text-decoration: none;
  }
}
