@use "Constants" as constants;

.twoRows {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}
.lost {
  font-size: 2.2rem;
}
// .oops {
//   font-size: 2rem;
//   display: flex;
//   align-self: center;
//   justify-content: center;
// }
// .number {
//   font-size: 3rem;
//   display: flex;
//   align-self: center;
//   justify-content: center;
// }
