@use "Constants" as constants;
.button {
  display: inline-block;
  background-color: constants.$accentColor;
  color: constants.$white;
  font-weight: 700;
  border: none;
  font-size: 1.2rem;
  //   min-height: 50px;
  width: min-content;
  padding: 0.7rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: constants.$white;
    color: constants.$accentColor;
  }
}
.longButton {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: constants.$white;
  color: constants.$accentColor;
  font-weight: 700;
  border: none;
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: constants.$accentColor;
    color: constants.$white;
  }
  //   min-height: 50px;
}
