// @import url("https://fonts.googleapis.com/css2?family=Proxima+Nova&family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
// @import url(//db.onlinewebfonts.com/c/544da55955a950deb15d6a7536c4da34?family=Brandon+Grotesque+Regular);
$primaryFont: "Poppins";
// $primaryFont: "PT Serif";
// $secondaryFont: "PT Serif";
$secondaryFont: "Poppins";
