@use "Constants" as constants;
@import "include-media";

.contact {
  background-color: constants.$accentColor;
  // height: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0 20vmin;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 3fr;
  @include media("<=992px") {
    min-height: auto;
    grid-template-rows: 1fr 4fr;

    grid-gap: 0;
    padding: 0;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-start;
    // height: auto;
    // min-height: auto;
  }
}
.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 2.8rem;
  font-weight: 700;
  color: constants.$primaryColor;
  @include media("<=992px") {
    font-size: 1.8rem;
    padding-top: 5vmin;
  }
}
.welcomeDiv {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include media("<=992px") {
    display: flex;
    padding-bottom: 2rem;
  }
}
.imageDiv {
  width: 100%;
  @include media("<=992px") {
    display: none;
  }
}

.form {
  width: 100%;
  padding: 2vmin 3vmin;
  display: flex;
  flex-direction: column;
  // gap: 1;
  a {
    text-decoration: none;
    p {
      padding: 0;
      margin: 0;
    }
  }
  @include media("<=992px") {
    padding: 0 2rem;
  }
}
.contactText {
  font-size: 2rem;
  text-align: justify;
  @include media("<=992px") {
    font-size: 1.2rem;
    text-align: left;
  }
}

.submit {
  padding: 0;
  margin: 0;
  align-self: flex-end;
  display: block;
  background-color: constants.$primaryColor;
  border: 1px solid constants.$primaryColor;

  color: constants.$white;
  font-weight: 700;
  // border: none;
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border: 1px solid constants.$white;
    transform: rotate(-3deg);
    background-color: constants.$white;
    color: constants.$accentColor;
    // border: 1px solid constants.$primaryColor;
  }
}
