@use "Constants" as constants;

.contact {
  background-color: constants.$accentColor;
  height: 100%;
  padding: 0 20vmin;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 2.8rem;
  font-weight: 700;
  color: constants.$primaryColor;
}
.welcomeDiv {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.welcomeText {
  font-size: 1.4rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.personalCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardItems {
  height: 300px;
  width: 600px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  box-shadow: 20px 20px 50px rgba($color: #000000, $alpha: 0.5);
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
  border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
  backdrop-filter: blur(5px);
}
.cardItems p {
  transform: translateY(5rem);
  opacity: 0;
  transition: 0.3s;
}
.cardItems:hover p {
  transform: translateY(0rem);
  opacity: 1;
}
