@use "Constants" as constants;

.contact {
  background-color: wheat;
  height: 100vh;
  //   display: grid;
  //   grid-template-rows: 2fr 3fr 3fr 0.5fr;
  //   grid-gap: 20px;
  padding: 0 40vmin;
  margin: 0;
}
.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 30px;
}
.welcomeDiv {
  padding: 0;
  margin: 0;
  height: 80vh;
  background-color: turquoise;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.welcomeText {
  background-color: red;
}
.personalCard {
  background-color: violet;
}
.placeholder {
  height: 200px;
  width: 400px;
  background-color: greenyellow;
}
