@use "Constants" as constants;

.contact {
  background-color: constants.$accentColor;
  height: 100vh;
  padding: 0 40vmin;
  margin: 0;
}
.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 2.8rem;
  font-weight: 700;
  color: constants.$primaryColor;
}
.welcomeDiv {
  padding: 0;
  margin: 0;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.welcomeText {
  font-size: 1.4rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.personalCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder {
  height: 200px;
  width: 400px;
  background-color: greenyellow;
}
