@use "Constants" as constants;

.footer {
  background-color: constants.$white;
  color: constants.$secondaryColor;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 2rem;
  height: 20vh;
}

.footerTitle {
  font-weight: 700;
}
.footerCopyright {
  padding: 0.5rem 0;
  display: block;
}
.footerLink {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  color: constants.$secondaryColor;
  &:visited {
    color: constants.$secondaryColor;
  }
  &:hover {
    text-decoration: underline;
  }
}
