@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Rock+Salt&display=swap");

$anticSlab: "Antic Slab";
$rockSalt: "Rock Salt";
html,
body {
  padding: 0;
  margin: 0;
  font-family: $anticSlab;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
