@use "Constants" as constants;
.dividedDiv {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  height: 100%;
}

.info {
  background-color: grey;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0 14vmin;
}
.intro {
  text-align: justify;
  font-size: 2rem;
  margin: 0;
  color: #ddd;
}
.name {
  color: white;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: constants.$secondaryFont;
  font-weight: 900;
  font-size: 3.6rem;
  letter-spacing: 0.5rem;
  position: relative;
  z-index: 2000;
}
.name::before {
  content: "Nauzet Hernández";
  color: orangered;
  position: absolute;
}
.name::after {
  content: "Nauzet Hernandez";
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  left: 0;
}
