@use "Constants" as constants;
@import "include-media";

.dividedDiv {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  height: auto;
  min-height: 100vh;
  @include media("<=768px") {
    padding: 5rem 0 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    min-height: auto;
  }
  @include media("<=992px", ">768px") {
    // background-color: red;
    grid-template-columns: 2fr 1fr;
    height: auto;
    min-height: 50vh;
    //TODO
  }
}

.info {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: constants.$padding;
}
.intro {
  text-align: justify;
  font-size: 2.2rem;
  margin: 0;
  color: constants.$secondaryColor;
  font-weight: 500;
  @include media("<=768px") {
    //mobile
    font-size: 0.8rem;
    text-align: left;
  }
  @include media("<=992px", ">768px") {
    //tablet
    font-size: 1.4rem;
    text-align: left;
  }
}
.name {
  color: constants.$primaryColor;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: constants.$secondaryFont;
  font-weight: 700;
  font-size: 4.6rem;
  letter-spacing: -0.1rem;
  position: relative;
  z-index: 2000;
  &::before {
    content: "Nauzet Hernández";
    color: constants.$accentColor;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    content: "Nauzet Hernandez";
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    left: 0;
    top: 0;
  }
  //tablet
  @include media("<=992px") {
    font-size: 3rem;
  }
  @include media("<=768px") {
    font-size: 2rem;
  }
}

.heroImage {
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  @include media("<768px") {
    display: none;
    //TODO
  }
}
