@import "include-media";

.fullHeight {
  min-height: 100vh;
  height: auto;
  @include media("<=992px") {
    min-height: auto;
  }
}
.thirdHeight {
  // height: 30vh;
  min-height: 30vh;
  height: auto;
  @include media("<=992px") {
    min-height: auto;
  }
}
.halfHeight {
  // height: 70vh;
  min-height: 70vh;
  height: auto;
  @include media("<=992px") {
    min-height: auto;
  }
}

.underscore {
  width: auto;

  &::after {
    width: 100%;
    display: block;
    height: 2rem;
    margin-top: -1rem;
    background-image: url("/underline.svg");
    background-repeat: no-repeat;
    // background-s ize: cover;

    content: "";
    @include media("<=992px") {
      height: 0.5rem;
      margin-top: -0.2rem;
    }
  }
}
