@use "Constants" as constants;
@import "include-media";

.introTextDiv {
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 80vh;

  display: grid;
  grid-template-rows: repeat(1fr);
  padding: 10vh 20vh 10vh 20vh;
  @include media("<=992px") {
    padding: 10vh;
  }
  @include media("<=768px") {
    padding: 4rem;
  }
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: constants.$primaryColor;
  @include media("<=992px") {
    font-size: 1.8rem;
  }
  @include media("<=992px") {
    font-size: 1.4rem;
  }
}
.text {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: justify;
  @include media("<=992px") {
    font-size: 1.5rem;
  }
  @include media("<=768px") {
    font-size: 1rem;
  }
}
.index {
  margin: 0;

  color: constants.$accentColor;
  font-size: 4rem;
  font-weight: 700;
  padding-right: 2rem;
  letter-spacing: -0.5rem;
  @include media("<=992px") {
    font-size: 2.6rem;
    letter-spacing: -0.1rem;
    padding-right: 1.2rem;
  }
  @include media("<=768px") {
    font-size: 2rem;
    letter-spacing: -0.1rem;
    padding-right: 0.8rem;
    // text-align: left;
  }
}
.textAndIndex p {
  display: inline;
}
.link {
  color: constants.$accentColor;
  text-decoration: none;
  &:visited {
    color: constants.$accentColor;
  }
  &:hover {
    color: constants.$grey;
  }
}
