@use "Constants" as constants;
@import "include-media";
.latest {
  background-color: constants.$primaryColor;
  // height: 100%;
  // height: 100vh;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-rows: 2fr 6fr 1fr;
  grid-gap: 5rem;
  padding: constants.$padding;
  @include media("<=992px") {
    min-height: auto;
    // padding: 5rem 0 3rem 0;
    grid-template-rows: 1fr 4fr 1fr;

    grid-gap: 0;
    padding: 0;
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-start;
    // height: auto;
    // min-height: auto;
  }
}
.columns {
  // width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  @include media("<=992px") {
    display: flex;
  }
}
.svgColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  @include media("<=992px") {
    display: none;
  }
}
.creationsColumn {
  padding: 2rem;
  display: grid;
  gap: 5rem;
}
.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 2.8rem;
  font-weight: 700;
  color: constants.$white;
  @include media("<=992px") {
    font-size: 1.8rem;
    padding-top: 5vmin;
  }
}
.creation {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  @include media("<=992px") {
    grid-gap: 0.5rem;
  }
}

.creationTitle {
  margin: 0;
  font-size: 2rem;
  color: constants.$white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  @include media("<=992px") {
    font-size: 0.9rem;
  }
}

.subcreation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcreationText {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 1.6rem;
  color: constants.$white;
  line-height: 1.5rem;
}
.seeMore {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-bottom: 1rem;
}
.seeMore button {
  height: min-content;
  padding: 5px 30px;
  margin: 0;
  text-transform: uppercase;
  font-family: constants.$secondaryFont;
}
.creationDesc {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  margin: 0;
  @include media("<=992px") {
    font-size: 0.9rem;
    text-align: left;
  }
}
.digit {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.5rem;
  color: constants.$accentColor;
  @include media("<=992px") {
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
  }
}

.notHidden {
  position: fixed;
  left: 5rem;
  top: 5rem;
  z-index: 100;
}
