@use "Constants" as constants;
.latest {
  background-color: gold;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 3fr 3fr 0.5fr;
  grid-gap: 20px;
  padding: 0 40vmin;
}

.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 30px;
}
.creation {
  display: grid;
  background-color: red;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.creationReverse {
  display: grid;
  background-color: red;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.creationTitle {
  text-transform: uppercase;
  text-decoration: underline;
}

.subcreation {
  background-color: green;
}
.placeholder {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
}
.seeMore {
  text-align: center;
}
.seeMore button {
  padding: 5px 30px;
  margin: 0;
  // text-transform: uppercase;
  font-family: constants.$secondaryFont;
}
