@use "Constants" as constants;
.latest {
  background-color: constants.$primaryColor;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 3fr 3fr 0.5fr;
  grid-gap: 5rem;
  padding: 0 40vmin;
}

.title {
  padding: 0;
  padding-top: 10vmin;
  margin: 0;
  text-align: center;
  font-family: constants.$secondaryFont;
  font-size: 2.8rem;
  font-weight: 700;
  color: constants.$terciaryColor;
}
.creation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}
.creationReverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}
.creationTitle {
  margin: 0;
  font-size: 2rem;
  color: constants.$terciaryColor;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.subcreation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.subcreationText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  font-size: 1.6rem;
  color: constants.$terciaryColor;
}
.placeholder {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
}
.seeMore {
  text-align: center;
}
.seeMore button {
  padding: 5px 30px;
  margin: 0;
  // text-transform: uppercase;
  font-family: constants.$secondaryFont;
}
