@use "Constants" as constants;
@import "include-media";
.nav {
  position: fixed;
  font-family: constants.$secondaryFont;
  font-size: 28px;
  width: 100%;
  font-weight: 700;
  z-index: 200;
  @include media("<=600px") {
    display: none;
  }
}
.nav ul {
  display: flex;
  padding: 2vmin;
  margin: 0;
  height: 5vh;
  align-items: center;
}

.nav li {
  display: inline;
}
.nav li:first-child {
  margin-right: auto;
}
.nav li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    text-decoration: underline;
  }
}
.nav li a:visited {
  color: inherit;
}

.logoDiv {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.textLogo {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.mobileNav {
  position: absolute;
  right: 15px;
  top: 5px;
  display: none;
  &:first-child {
    position: absolute;

    align-self: flex-end;
  }

  // padding-right: 1rem;

  @include media("<=600px") {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
    // align-self: center;
    // align-items: center;

    cursor: pointer;
  }
}
.linkListMobile {
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    // deco
  }
}
.icon {
  align-self: flex-end;
}
