@use "Constants" as constants;
@import "include-media";
.nav {
  position: fixed;
  background-color: constants.$white;
  font-family: constants.$secondaryFont;
  font-size: 28px;
  width: 100vw;
  font-weight: 700;
  z-index: 200;

  @include media("<992px") {
    display: none;
  }
}
.nav ul {
  display: flex;
  padding: 2vmin;
  margin: 0;
  height: 5vh;
  align-items: center;
}

.nav li {
  display: inline;
}
.nav li:first-child {
  margin-right: auto;
}
.nav li a {
  color: constants.$primaryColor;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-10px);
    text-decoration: underline;
    color: constants.$accentColor;
  }
}

.logoDiv {
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.textLogo {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.mobileNav {
  z-index: 5000;
  position: fixed;
  width: auto;
  background-color: constants.$white;
  right: 0;
  left: 0;
  display: none;
  text-align: end;
  font-size: 28px;
  font-weight: 700;

  flex-direction: column;
  cursor: pointer;

  &:first-child {
    align-self: flex-end;
  }

  @include media("<992px") {
    display: flex;
  }
}

.linkListMobile {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.6s;
  padding-right: 1rem;
  color: constants.$primaryColor;
  a {
    text-decoration: none;
    &:visited {
      color: constants.$primaryColor;
    }
  }
  ul {
    list-style-type: none;
    // deco
  }
}

.icon {
  align-self: flex-end;
}
.visible {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
