@use "Constants" as constants;

.introTextDiv {
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 80vh;

  display: grid;
  grid-template-rows: repeat(1fr);
  padding: 10vh 20vh 10vh 20vh;
  background-color: constants.$primaryColor;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0;
  padding: 3rem 0 1rem 0;
  text-transform: uppercase;
  color: constants.$white;
}
.text {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: justify;
  color: constants.$grey;
}
.index {
  color: constants.$accentColor;
  font-size: 4rem;
  font-weight: 700;
  padding-right: 2rem;
  letter-spacing: -0.5rem;
}
.textAndIndex p {
  display: inline;
}
.link {
  color: constants.$accentColor;
  text-decoration: none;
  &:visited {
    color: constants.$accentColor;
  }
  &:hover {
    color: constants.$grey;
  }
}
