@use "Constants" as constants;
@import "include-media";
.twoColumns {
  height: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media("<=992px") {
    display: block;
  }
}
.imageColumn {
  display: flex;
  align-self: center;
  padding: 1rem;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  @include media("<=992px") {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.textColumn {
  display: grid;
  align-self: center;
  font-size: 2rem;
  text-align: justify;
  padding: 2rem;
  & a {
    text-decoration: none;
  }
  @include media("<=992px") {
    font-size: 1.4rem;
  }
}

.lightText {
  color: constants.$white;
}

.orangeBackground {
  background-color: constants.$accentColor;
}

.title {
  color: constants.$accentColor;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  width: auto;
  margin: 0 auto;

  &::after {
    width: 100%;
    display: block;
    height: 2rem;
    margin-top: -1.5rem;
    background-image: url("/underline.svg");
    background-repeat: no-repeat;
    content: "";
  }
  @include media("<=992px") {
    font-size: 3rem;
    margin-top: 40px;
  }
  @include media("<=768px") {
    font-size: 2rem;
    &::after {
      margin-top: -1rem;
    }
  }
}
.reverseTitle {
  color: constants.$white;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  width: auto;
  margin: 0 auto;

  &::after {
    width: 100%;
    display: block;
    height: 2rem;
    margin-top: -1.5rem;
    background-image: url("/underline_white.svg");
    background-repeat: no-repeat;
    content: "";
  }
  @include media("<=992px") {
    font-size: 3rem;
    margin-top: 40px;
  }
  @include media("<=768px") {
    font-size: 2rem;
    &::after {
      margin-top: -1rem;
    }
  }
}

.project {
  padding: 3vmin 6vmin;
  height: auto;
  min-height: 100vh;
  // padding: constants.$padding;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 5fr;
}
.darkText {
  color: constants.$white;
}

.button {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: constants.$accentColor;
  color: constants.$white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem constants.$grey;
  transition: 0.3s ease;
  border: none;

  &:hover {
    transform: rotate(-3deg);
    color: constants.$primaryColor;
  }
  @include media("<=992px") {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
.darkButton {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: constants.$primaryColor;
  color: constants.$white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  border-radius: 0.2rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.2rem constants.$primaryColor;
  transition: 0.3s ease;
  &:hover {
    color: constants.$accentColor;
    transform: rotate(-3deg);
  }
  @include media("<=992px") {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
.darkBackground {
  background-color: constants.$primaryColor;
}
.underlineWhite {
  background-image: url("/underline_white.svg");
  background-repeat: no-repeat;
}
